@import("../../../../stylus/index.styl")
.info-Box{
    height $buttonHeight
}
.logo-box{
    float left
    width $logoBoxWidth
    height  $logoBoxHeigh
    border 1px solid red
    margin-top $logintopMargin
}
.SearchBox{
    float left
    width $logoBoxWidth
    height $logoBoxHeigh
    margin-top $logintopMargin
    margin-left $searchMargin
}
.inputSearch{
    height $logoBoxHeigh
    width 85%
    font-size $h3
    outline none
    border none
    background-color $font-color3
    padding-left $inputSearchpadding
    border-radius 0.1rem

}