@import ('../../stylus/index.styl');
.loginBox{
    width:$loginBoxWidth;
    height:$loginBoxHight;
    margin:auto;
    margin-top: $loginBoxMargin;
    }
    .IBox{
        font-size $h3
    }
     .inputBox{
      width $loginBtnWidth
      height $loginInputHight
      outline none
      border  none
      border-bottom $borderWidth solid $font-color4 
      }
      .btnBox{
          margin-top $btnBoxMargin
      }
      .pawssBox{
          margin-top $topMargin
          font-size $h3
          color $font-color4
          margin-left 80%
      }
      .btnBox a{
          color $font-fff
      }