@import("../../../../stylus/index.styl")
.NavBox{
    width 100%
    height $NavBoxHight

    margin 0 auto
}
.Navlist{
    display flex
    justify-content space-around
    width 100%
    
}
.Navlist li{
   
    width $NavimgHight
    height $searchMargin
}
.Navlist li img{
    width 100%
    height $NavimgHight

}
.Navlist li p{
    text-align center
    font-size $h3
    color $font-color3
}