@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h2;
    text-align: center;
    height: $buttonHeight;
    width:$loginBtnWidth ;
    border-radius: $margin
    line-height: $buttonHeight
    margin: $margin
    border-radius $radiusBox 
}