$footerHeight=0.35rem;
$headerHeight=0.35rem;

$h1=0.17rem;
$h2=0.14rem
$h3=0.12rem

// margin系列

$btnBoxMargin = 0.15rem
$topMargin = 0.2rem
$logintopMargin = 0.1rem
$searchMargin = 0.93rem

// padding系列
$inputSearchpadding = 0.12rem





$buttonHeight=0.45rem;
// 登录盒子
$loginBoxWidth = 2.7rem;
$loginBoxHight= 2.2rem;
$loginBoxMargin = 0.8rem
// 登录盒子结束


// 登录按钮
$loginBtnWidth = 2.65rem
$loginInputHight = .2rem
// 结束



// 圆角
$radiusBox = 0.05rem
// 

$borderWidth=0.01rem;

$bannerHeight=1.8rem;

//宽度
$logoBoxWidth = 0.9rem
$logoBoxHeigh = 0.25rem


// Nav
$NavBoxWidth = 3.16rem
$NavBoxHight = 0.95rem
$NavimgHight = 0.72rem